.menu_head{
    h3{
        @include head_text;
    }
    p{
        @include head_peragraph;
    }
}
.menu_item{
    background-color: #fff;
    button{
        width: 100%;
        color: #000;
        font-weight: bold;
        font-size: 1.5rem;
        margin: 1rem .5rem;
        text-align: center;
    }
}
.menu_item_displa{
    position: relative;
    overflow: hidden;
    img{
        width: 20%;
        float: left;
        border-radius: 50%;
        padding: .5rem;
    }
    .inner_div{
        width: 60%;
        padding: 0 1.4rem;
        float: left;
    }
    h3{
        color: $color_01;
        font-size: 1.5rem;
        font-family: $my_font;
    }
    p{
        color: #6b6b6b;
        font-size: .9rem;
    }
    .menu_span{
        span{
            position: absolute;
            color: #000;
            font-size: 1.5rem;
            border: 1px solid $color_01;
            border-radius: 50%;
            padding: 1.2rem;
        }
        
    }
}