@mixin head_text {
    color: $color_01;
    font-size: 3.5rem;
    font-weight: bold;
    font-family: $my_font;
    margin-bottom: 1rem;
}
@mixin head_peragraph{
    color: #666;
    font-size: 1.1rem;
    margin-top: 1rem;
}