
.reserv_head{
    h2{
        @include head_text;
    }
}
.reserv_from{
    h4{
        color: #000;
        font-weight: 600;
        font-size: 1.3rem;
        text-align: center;
        letter-spacing: .1rem;
        text-transform: uppercase;
    }
    p{
        color: #666;
        font-size: 1rem;
        text-align: center;
    }
    button{
        color: #fff;
        transition: 0.4s;
        padding: .8rem 4rem;
        text-transform: uppercase;
        background-color: $color_01;
        &:hover{
            color: #fff !important;
            background-color: #000;
            border: 3px solid $color_01;
        }
    }
    
}